/**
 * index.css
 *
 * Encontraras los estilos de la pagina principal de posgrado.
 *
 */

 body {
    border-top: solid #8c8c8c;
    background-color: #FAFAFA;
    /* padding-top: 30px; */
}




/*Navbar  */

@media (max-width: 600px) {
    .navbar-header {
        background-color: #E8E8E8;
    }
    .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle {
        border: 1px solid white;
    }
}

@media (min-width: 767px) {
    .navbar {
        margin-top: 40px;
        min-height: 39px !important;
    }
    #navbar {
        background: #fafafa;
        background: -moz-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fafafa), color-stop(7%, #e8e8e8), color-stop(93%, #e8e8e8), color-stop(100%, #fafafa));
        background: -webkit-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -o-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -ms-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: linear-gradient(to right, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa', GradientType=1);
        max-height: 35px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .navbar .nav > li > a,
    .navbar .nav > li > a:visited {
        color: #666 !important;
        /*padding: 8px 15px;*/
        height: 34px;
    }
    .dropdown-menu a:hover,
    .dropdown-menu a:focus {
        background: none !important;
    }
    .dropdown-menu a {
        background: fdfdf !important;
    }
}

.navbar {
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.navbar .nav > li > a:hover {
    background: #FFF !important;
}
/*  */




.bloque {

    margin-top: 20px;
    padding-top: 20px;
    -webkit-border-top: solid 1px #EDEDED;
    border-top: solid 1px #EDEDED;
}

/*-------------------------------------------*\
    Noticias
\*-------------------------------------------*/

#noticias {
    margin-top: 30px;
}

/* #noticias h3 {
    font-size: 35px;
    line-height: 35px;
}

#noticias h5 a {
    color: #A5273F;
    font-size: 25px;
} */

div.imagen-noticia {
    /*padding: 12px 0px 0px;
    float: left;
    display: inline-block;*/
    overflow: hidden;
}
.titulo_noticia
{
	font-family: 'Trajan Pro Bold';
	font-size:25px;
	color:#C00;
	text-align:left;
}

.decripcion_noticia {
    color: #666;
}

p {
	line-height: 24px;
	margin-bottom: 15px;
	/* font-family: 'Roboto', sans-serif; */
	font-size: 16px;
	font-weight: 300;
}

/* Aumentar imagen */
.thumbnail .caption {
    padding-top: 15%;
}
/* Zoom */
.imgNewsZoom {
    transform: scale(1.5);
}


/*-------------------------------------------*\
    Fin Noticias
\*-------------------------------------------*/












/* Footer */

.social {
    background-color: #A62940;
    padding: 20px 0px;
    margin-top: 40px;
}

.social p {
    font-size: 20px;
    color: #FAFAFA;
}

.social span {
    background-color: #98979C;
    color: #FAFAFA;
    text-decoration: inherit;
    display: inline-block;
    margin: 15px;
    padding: 12px;
    border-radius: 100%;
    text-decoration: none;
}

.socialLinks a {
    margin: 20px 20px;
}

.f {
    padding: 11px 16px !important;
}

.social a,
.social a:visited,
.social a:hover {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
} 

/* Footer */




/* Obtenido style_tec */
/* =IMAGES
----------------------------------------------- */
figure {
	margin: 0;
	text-align: center;
}
img {
	max-width:100%;
	height:auto;
	vertical-align:top;
	/*margin-bottom: 18px;*/
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {

}
img.size-full, img.size-large {
	max-width: 100%;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 1.625em;
}
p img {
}
img#wpstats {
 	display: none;
}
/*Finnal */

