/**
 * index.css
 *
 * Encontraras los estilos de la pagina principal de posgrado.
 *
 */

 body {
    border-top: solid #8c8c8c;
    background-color: #FAFAFA;
    /* padding-top: 30px; */
}

a{
    color: #8c8c8c;
}




/*Navbar  */

@media (max-width: 600px) {
    .navbar-header {
        background-color: #E8E8E8;
    }
    .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle {
        border: 1px solid white;
    }
}

@media (min-width: 767px) {
    .navbar {
        margin-top: 40px;
        min-height: 39px !important;
    }
    #navbar {
        background: #fafafa;
        background: -moz-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fafafa), color-stop(7%, #e8e8e8), color-stop(93%, #e8e8e8), color-stop(100%, #fafafa));
        background: -webkit-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -o-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: -ms-linear-gradient(left, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        background: linear-gradient(to right, #fafafa 0%, #e8e8e8 7%, #e8e8e8 93%, #fafafa 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa', GradientType=1);
        max-height: 35px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .navbar .nav > li > a,
    .navbar .nav > li > a:visited {
        color: #666 !important;
        /*padding: 8px 15px;*/
        height: 34px;
    }
    .dropdown-menu a:hover,
    .dropdown-menu a:focus {
        background: none !important;
    }
    .dropdown-menu a {
        background: fdfdf !important;
    }
}

.navbar {
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}

.navbar .nav > li > a:hover {
    background: #FFF !important;
}
/*  */




.bloque {

    margin-top: 20px;
    padding-top: 20px;
    -webkit-border-top: solid 1px #EDEDED;
    border-top: solid 1px #EDEDED;
}

/*-------------------------------------------*\
    Noticias
\*-------------------------------------------*/

#noticias {
    margin-top: 30px;
}

/* #noticias h3 {
    font-size: 35px;
    line-height: 35px;
}

#noticias h5 a {
    color: #A5273F;
    font-size: 25px;
} */

div.imagen-noticia {
    /*padding: 12px 0px 0px;
    float: left;
    display: inline-block;*/
    overflow: hidden;
}
.titulo_noticia
{
	font-family: 'Trajan Pro Bold';
	font-size:25px;
	color:#C00;
	text-align:left;
}

.decripcion_noticia {
    color: #666;
}

p {
	line-height: 24px;
	margin-bottom: 15px;
	/* font-family: 'Roboto', sans-serif; */
	font-size: 16px;
	font-weight: 300;
}

/* Aumentar imagen */
.thumbnail .caption {
    padding-top: 15%;
}
/* Zoom */
.imgNewsZoom {
    transform: scale(1.5);
}


/*-------------------------------------------*\
    Fin Noticias
\*-------------------------------------------*/












/* Footer */

.social {
    background-color: #A62940;
    padding: 20px 0px;
    margin-top: 40px;
}

.social p {
    font-size: 20px;
    color: #FAFAFA;
}

.social span {
    background-color: #98979C;
    color: #FAFAFA;
    text-decoration: inherit;
    display: inline-block;
    margin: 15px;
    padding: 12px;
    border-radius: 100%;
    text-decoration: none;
}

.socialLinks a {
    margin: 20px 20px;
}

.f {
    padding: 11px 16px !important;
}

.social a,
.social a:visited,
.social a:hover {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
} 

/* Footer */




/* Obtenido style_tec */
/* =IMAGES
----------------------------------------------- */
figure {
	margin: 0;
	text-align: center;
}
img {
	max-width:100%;
	height:auto;
	vertical-align:top;
	/*margin-bottom: 18px;*/
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {

}
img.size-full, img.size-large {
	max-width: 100%;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 1.625em;
}
p img {
}
img#wpstats {
 	display: none;
}
/*Finnal */


/*Estilo del footer*/
.links_footer
{
	width:100%;
	font-size:11px;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
	color:#333;
	padding-bottom:50px;

}

.center-copy-footer
{
	width:100%;
	font-size:13px;
	text-align:center;
	font-family: 'Trajan Pro Bold';
	color:#333;

}

/* =FOOTER SOCKET AREA
----------------------------------------------- */
.footer-socket-wrapper {
	padding: 10px 0px;
	background-color: #F8F8F8;
	border-top: 3px solid #8c8c8c;
}
.footer-socket-area {
	width: 100%;
}
.footer-socket-wrapper .copyright {
	color: #666666;
	max-width: 50%;
	float: left;
	font-size: 12px;
}
.footer-socket-wrapper .copyright a {
	color: #666666;
}
.footer-socket-wrapper .copyright a:hover {
	color: #77CC6D;
}
.footer-socket-wrapper .footer-menu {
	float: right;
}
.footer-socket-wrapper .footer-menu a {
	padding-top: 0;
}
.footer-socket-wrapper .footer-menu ul li ul {
	top: 21px;
}

/* =FOOTER WIDGET AREA
----------------------------------------------- */
.footer-widgets-wrapper {
	background-color: #fff;
	border-top: 1px solid #F2F2F2;
}
.footer-widgets-area {
	padding-top: 30px;
	padding-bottom: 10px;
	color: #AAAAAA;
}
.footer-widgets-area .widget-title {
	text-align: left;
}
.footer-widgets-area h3.widget-title {
	color: #FFFFFF;
}
.footer-widgets-area p {
	text-align: left;
	color: #AAAAAA;
}
.footer-widgets-area a {
	color: #FFFFFF;
}
.footer-widgets-area a:hover {
	color: #EEEEEE;
}
#colophon .widget {
	padding-bottom: 25px;
}
#colophon .widget-title {
	font-size: 22px;
	line-height: 32px;
}
#colophon, #colophon p {
	font-size: 14px;
	line-height: 20px;
}

/* =IMAGES
----------------------------------------------- */
figure {
	margin: 0;
	text-align: center;
}
img {
	max-width:100%;
	height:auto;
	vertical-align:top;
	/*margin-bottom: 18px;*/
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {

}
img.size-full, img.size-large {
	max-width: 100%;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 1.625em;
}
p img {
}
img#wpstats {
 	display: none;
}

/* =CLEARFIX
----------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display: block;
}
.tg-after-three-blocks-clearfix {
	clear: both;
}
.tg-featured-posts-clearfix {
	clear: both;
}

/* THREE COLUMN */
.tg-one-third {
	float: left;
	margin: 0 3.6364% 0 0;
	width: 30.909%;
}
.tg-one-third-last {
	float: right;
	margin-right: 0;
}
/* FOUR COLUMN */
.tg-one-fourth {
	float: left;
	width: 23.1527094%;
	margin: 0 2.46305419% 0 0;
}
.tg-one-fourth-last {
	margin: 0px;
}


/* =WIDGETS ICON
----------------------------------------------- */
#secondary h3 span:before, .footer-widgets-area h3 span:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #77CC6D;
	font-size: 20px;
	padding-right: 5px;
}

#archives h3 span:before,
.widget_archive h3 span:before {
	content: "\f017";
}

.widget_calendar h3 span:before {
	content: "\f073";
	font-size: 16px;
}

.widget_categories h3 span:before {
	content: "\f07c";
}

#secondary .widget_pages h3 span:before,
.footer-widgets-area .widget_pages h3 span:before {
	content: "\f0f6";
	padding-right: 8px;
}

.widget_recent_comments h3 span:before {
	content: "\f0e6";
}
.widget_recent_comments #recentcomments li:before {
	content: "\f075";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #EAEAEA;
	font-size: 16px;
	padding-right: 5px;
}

.widget_search h3 span:before {
	content: "\f002";
}

.widget_text h3 span:before {
	content: "\f0f6";
}

.widget_tag_cloud h3 span:before {
	content: "\f02c";
}

.accelerate_tagcloud_widget h3 span:before {
	content: "\f02c";
}
.accelerate_tagcloud_widget h3 span:before {
	content: "\f02c";
}
.accelerate_tagcloud_widget a:before {
	content: "\f02b";
	color: #D5D5D5;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 12px;
	padding-right: 5px;
}
.accelerate_tagcloud_widget a {
	color: #666666;
	background-color: #F8F8F8;
	margin: 0 4px 6px 0;
   padding: 3px 6px;
	display: inline-block;
	border-radius: 3px;
}
.footer-widgets-area .accelerate_tagcloud_widget a {
	background-color: #D5D5D5;
	color: #666666;
}
.footer-widgets-area .accelerate_tagcloud_widget a:before {
	color: #FFFFFF;
}
#secondary .accelerate_tagcloud_widget a:hover,
.footer-widgets-area .accelerate_tagcloud_widget a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #77CC6D;
}

#secondary .widget_nav_menu h3 span:before,
.footer-widgets-area .widget_nav_menu h3 span:before {
	content: "\f0c9";
	font-size: 21px;
}

.widget_recent_entries h3 span:before {
	content: "\f040";
}



/* =RESPONSIVE STRUCTURE
----------------------------------------------- */
@media screen and (max-width: 1190px) {
	#page {
		width: 97%;
	}
	.wide #page {
		width: 100%;
	}
	.inner-wrap {
		width: 94%;
	}
	
}
@media screen and (max-width: 768px) {
	.directorio-footer-column
{
	text-align:left;
	font-size:12px;
	color:#666;
	width:100%;
	max-width:100%;
	float:left;
	position:relative;

}
	#header-text-nav-wrap {
		padding: 15px 0;
	}
	#header-left-section {
		float: none;
		max-width: 100%;
		margin-right: 0;
	}
	#header-logo-image {
		float: none;
		text-align: center;
		margin-bottom: 10px;
		padding-right: 0;
	}
	#header-text {
		float: none;
		text-align: center;
		padding: 0;
		margin-bottom: 10px;
	}
	#site-description {
		padding-bottom: 5px;
	}
	#header-right-section {
		float: none;
		max-width: 100%;
	}
	#header-right-section .widget {
		padding: 0 0 10px 0;
		float: none;
		text-align: center;
	}
	.widget_recent_work .tg-one-fourth {
		width: 50%;
		float: left;
	}
	.footer-socket-wrapper .copyright {
		float: none;
		max-width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.footer-socket-wrapper .footer-menu {
		float: none;
		text-align: center;
	}
	.footer-socket-wrapper .footer-menu li {
		float: none;
		display: inline;
	}
	.footer-socket-wrapper .footer-menu a {
		float: none;
		display: inline;
		padding: 5px 5px 0;
	}
}
@media screen and (max-width: 767px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.main-navigation {
		float: none;
	}
	#featured-slider .entry-content {
		display: none;
	}
	.slider-nav {
		display: none;
	}
	#primary, #secondary {
		float: none;
		width: 100%;
	}
	.tg-one-half, .tg-one-third, .tg-one-fourth {
		float: none;
		width: 100%;
		margin: 0;
	}
	.widget_image_service_block .tg-one-third {
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 600px) {
   #featured-slider .slider-title-head .entry-title a {
   	font-size: 16px;
   	padding: 4px 12px;
   }
	.widget_recent_work .tg-one-fourth {
		width: 100%;
		text-align: center;
		position: relative;
	}
	.widget_recent_work .recent_work_title {
		right: 0;
	}
	.entry-meta .post-format {
		padding: 0;
		top: -18px;
	}
	.entry-meta .post-format i {
		font-size: 12px;
		padding: 2px 0 0;
	}
}
@media only screen and (max-width: 400px) {
	#featured-slider .slider-title-head .entry-title a {
		font-size: 12px;
		padding: 0 8px;
	}
}


.divisor_sombra
{
	width:100%;
	background:url(img/bg_div_01.jpg);
	background-size: 100% 100%;
	height:60px;
	position:relative;
	float:left;
}

.noticia
{
	font-family: 'Trajan Pro Bold';
	font-size:25px;
	color:#C00;
	text-align:left;
}